@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  font-family: 'Oswald';
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.image {
  width: 25%;
  margin: .3em;
}

.title {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 80px;
  letter-spacing: 20px;
  padding-top: .2em;
  color: white;
  text-shadow: 3px 3px 3px #000;
}

.logo {
  width: 15%;
}

.jumbotron{
  background-image: url('../bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form {
  width: 50%;
  margin: 0 auto;
}

.btn {
  margin-top: 1em;
  margin-bottom: 2em;
}

.roverName {
  text-transform: uppercase;
}
